Python for calculations
Short overview of common arithmetic operators.

In [12]:
# Addition
6 + 2

8

In [13]:

# Subtraction
3 - 4

-1

In [14]:
# Division
3 / 4

0.75

In [15]:
# Modulo
9 % 2

1

In [16]:
# Exponentiation
9 ** 2

81

Variables


Variable names in Python (1) start with letter or underscore, (2) cannot start with a number, (3) only contain alphanumeric characters and underscores, and (4) are case-sensitive.

In [17]:
# Assign a value to a variable
count = 0
count

0

In [18]:
# Use of assignment operators
count += 1 # same as count = count + 1
count

1

In [19]:
# Multiple assignments in one line, calculating with variables
triangle_base, triangle_height = 5, 6
triangle_area = 0.5 * triangle_base * triangle_height
triangle_area

15.0

In [20]:
# Introducing the print function and the f string
first_name = 'Kim'
print(f'Hello {first_name}, how are you?')

Hello Kim, how are you?

## Exercise for variables

Define a string variable text (set to string value of 'Average age').
Define two integer variables named age_kim (set to 20) and age_luca (set to 40).
Calculate the average age with the sum of Kim's and Lucas' age divided by two and assign the value to a variable avg_age.
Use the print function to output the average age string followed by a colon, followed by the average age. Use the f string for it.

In [21]:

age_kim = 20
age_luca = 40

avg_Age =(age_kim + age_luca) / 2

print(f"Avergaege age: {avg_Age}")

Avergaege age: 30.0

## Types and type conversion
Python has type inference (automatic detection of the data type of the expression). Common data types include Integer, Float, String and Boolean.

In [22]:
# Integer
participants = 90
type(participants)

int

In [23]:
# Float
distance = 3.5
type(distance)

float

In [24]:
# String
text = "text"
another_text = 'another text'
type(text)

str

In [25]:
# Boolean
condition = True
type(condition)

bool

In [28]:
# Convert variable to a preferred data type with e.g. int(), float(), str(), bool()
distance_as_string = str(condition)
print(type(distance_as_string))
distance_as_string

<class 'str'>

'True'

## Exercise for type conversion
Covert both variables into float
Divide var1 by var2 and store the result in a variable
Convert the result variable result into integer
Get the type of the result variable result and assign it to the type variable type_result
Comment out and run the assertions to see if they pass

In [35]:
var1 = True
var2 = ".3"

# Your code goes here
var1 = float(var1)
var2 = float(var2)

result = int(var1 / var2)
print(result)

type_result = type(result)
print(type_result)

3
<class 'int'>

In [36]:
if (result or type_result) is None:
    print("Test did not pass! Go implement!")
else:
    assert result == 3
    assert type_result is int
    print("Test passed!")

Test passed!

# Lists
# Lists are mutable sequences of values that can be of a single type (typical) or different types. A list itself is a type. The next sections cover the following points:

-> Create a list
-> Access a list
-> Manipulate a list
-> Copy a list
-> Join lists
-> Sort and reverse a list

In [37]:
# Create a list with values of the same type
items = ['avocado', 'mushrooms', 'pasta', 'tomato', 'spinach'] # or use type constructor e.g. list(('avocado','pasta')) returns ['avocado', 'pasta']
type(items)

list

In [38]:
items_with_prices = [['avacado', 2],
                     ['potato', 4],
                     ['sugar', 5]]
print(type(items_with_prices))
print(items_with_prices)

<class 'list'>
[['avacado', 2], ['potato', 4], ['sugar', 5]]

In [39]:
# Create a list with different types
some_value = 44
another_list = [3, 'hello', ['i', 5555, True], False, some_value, 4.555]

print(type(another_list))
print(another_list)

<class 'list'>
[3, 'hello', ['i', 5555, True], False, 44, 4.555]

# Access a list
Use indexing and slicing to extract a subset of values from a list.

In [40]:
# Indexing second element
items[1]

'mushrooms'

In [41]:
# Indexing last element
items[-1]

'spinach'

In [42]:
# List slicing with defining start and end index
# Start index included, end index excluded
items[3:5]

['tomato', 'spinach']

In [43]:
# List slicing with defining either start or end index
items[:3]

['avocado', 'mushrooms', 'pasta']

# Manipulate a list
There are many more ways to manipulate a list. Here are some common ones.

In [44]:
# Look at current list elements
items

['avocado', 'mushrooms', 'pasta', 'tomato', 'spinach']

In [45]:
# Changing an element
items[3] = 'apple'
items

['avocado', 'mushrooms', 'pasta', 'apple', 'spinach']

In [46]:
# Changing elements
items[:2] = ['strawberry', 'raspberry']
items

['strawberry', 'raspberry', 'pasta', 'apple', 'spinach']

In [47]:
# Adding elements
items += ['cherry', 'kale']
print(items)

items.insert(2, 'watermelon')
print(items)

items.append('pizza')
print(items)

['strawberry', 'raspberry', 'pasta', 'apple', 'spinach', 'cherry', 'kale']
['strawberry', 'raspberry', 'watermelon', 'pasta', 'apple', 'spinach', 'cherry', 'kale']
['strawberry', 'raspberry', 'watermelon', 'pasta', 'apple', 'spinach', 'cherry', 'kale', 'pizza']

In [48]:
# Deleting elements
del(items[0]) # or use remove('strawberry), pop(0)
print(items)

items.remove('pizza')
print(items)

['raspberry', 'watermelon', 'pasta', 'apple', 'spinach', 'cherry', 'kale', 'pizza']
['raspberry', 'watermelon', 'pasta', 'apple', 'spinach', 'cherry', 'kale']

In [49]:
# Clear all elements from a list
items.clear()
items

[]

# Copy a list

In [50]:
# Use list() function if you don't want to assign a reference but want to create a new list with the same values
original_items = ['apple', 'orange']
new_items = list(original_items) # or use items[:] or items.copy()
new_items

['apple', 'orange']

In [51]:
# Remove item from original items
del(original_items[0])

# Join two lists
joined_list = new_items + original_items
joined_list

['apple', 'orange', 'orange']

# Sort and reverse a list

In [52]:
# Sort lists
number_list = [10,100,1,0,1000]
number_list.sort()
print(number_list)

# Reverse sort
number_list.sort(reverse = True)
print(number_list)

[0, 1, 10, 100, 1000]
[1000, 100, 10, 1, 0]

In [53]:
# Reverse order of list
number_list.reverse()
number_list

[0, 1, 10, 100, 1000]

## Exercise for lists
. Create a list numbers with the values 9,23,35 and 2
. Delete the first value
. Alter the last two values by multiplying them by 2
. Append the numbers 15 and 50
. Sort the list in reverse order

In [ ]:
numbers = [9, 23, 35, 2]
print("Original list:", numbers)
del numbers[0]
print("After deleting first value:", numbers)
numbers[-2] = numbers[-2] * 2
numbers[-1] = numbers[-1] * 2
print("After multiplying last two values by 2:", numbers)
numbers.append('15')
numbers.append('50')
print("After appending 15 and 50:", numbers)
numbers.reverse()
print("After reversing the order:", numbers)

Original list: [9, 23, 35, 2]
After deleting first value: [23, 35, 2]
After multiplying last two values by 2: [23, 70, 4]
After appending 15 and 50: [23, 70, 4, '15', '50']
After sorting in reverse order: ['50', '15', 4, 70, 23]