Python for calculations
Short overview of common arithmetic operators.

In [12]:
# Addition
6 + 2

8

In [13]:

# Subtraction
3 - 4

-1

In [14]:
# Division
3 / 4

0.75

In [15]:
# Modulo
9 % 2

1

In [16]:
# Exponentiation
9 ** 2

81

Variables


Variable names in Python (1) start with letter or underscore, (2) cannot start with a number, (3) only contain alphanumeric characters and underscores, and (4) are case-sensitive.

In [17]:
# Assign a value to a variable
count = 0
count

0

In [18]:
# Use of assignment operators
count += 1 # same as count = count + 1
count

1

In [19]:
# Multiple assignments in one line, calculating with variables
triangle_base, triangle_height = 5, 6
triangle_area = 0.5 * triangle_base * triangle_height
triangle_area

15.0

In [20]:
# Introducing the print function and the f string
first_name = 'Kim'
print(f'Hello {first_name}, how are you?')

Hello Kim, how are you?

## Exercise for variables

Define a string variable text (set to string value of 'Average age').
Define two integer variables named age_kim (set to 20) and age_luca (set to 40).
Calculate the average age with the sum of Kim's and Lucas' age divided by two and assign the value to a variable avg_age.
Use the print function to output the average age string followed by a colon, followed by the average age. Use the f string for it.

In [21]:

age_kim = 20
age_luca = 40

avg_Age =(age_kim + age_luca) / 2

print(f"Avergaege age: {avg_Age}")

Avergaege age: 30.0

## Types and type conversion
Python has type inference (automatic detection of the data type of the expression). Common data types include Integer, Float, String and Boolean.

In [22]:
# Integer
participants = 90
type(participants)

int

In [23]:
# Float
distance = 3.5
type(distance)

float

In [24]:
# String
text = "text"
another_text = 'another text'
type(text)

str

In [25]:
# Boolean
condition = True
type(condition)

bool

In [28]:
# Convert variable to a preferred data type with e.g. int(), float(), str(), bool()
distance_as_string = str(condition)
print(type(distance_as_string))
distance_as_string

<class 'str'>

'True'

## Exercise for type conversion
Covert both variables into float
Divide var1 by var2 and store the result in a variable
Convert the result variable result into integer
Get the type of the result variable result and assign it to the type variable type_result
Comment out and run the assertions to see if they pass

In [ ]:
var1 = True
var2 = ".3"

# Your code goes here
var1 = float(var1)
var2 = float(var2)

result = var1 /var2;
print(result)
result = None
type_result = None

2.2
2